/sesion_10/nbproject/private/
/sesion_10/build/
/PatronSingleton/nbproject/private/
/PatronSingleton/build/
/sesion_11/nbproject/private/
/sesion_11/build/
/ArreglosIntro/nbproject/private/
/ArreglosIntro/build/
/PatronFactory/nbproject/private/
/PatronFactory/build/